version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    volumes:
      - .:/app
      - /app/vendor
    ports:
      - 8000:8000
  database:
    platform: linux/x86_64
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: main
      MYSQL_USER: admin
      MYSQL_ROOT: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
